In [36]:
#list
val = [1,2,"hello"]

#dict
d = {"a": 1, "b" : 2, "c": "hello"}

#tuple
t = (1,2,"hello")


val = []
d = {...................}
for i in range(0,10) : 
    #t = ("Peter","12","60", "180")
    t = (d["เลขไมล์"],d["สี"],"60", "180")
    
    val.append(t)
val

SyntaxError: invalid syntax (<ipython-input-36-ceeb01bd0b43>, line 12)

In [37]:
import json
import os

In [38]:
filenames = os.listdir('scraping detail/detail')
#print(filenames)
for file in filenames:
    #print(file)
    split = file.split(".")
    print(split[0])

5848251
6069661
6121312
6155589
6230830
6237033
6270499
6294221
6294231
6408511
6440441
6467699
6511889
6519957
6535800
6562426
6567360
6588070
6609966
6686421
6702208
6706446
6709576
6754232
6840354
6868871
6871830
6887233
6893970
6902661
6942338
6946966
6953840
6957760
6957805
6964066
6988420
6988421
6988434
6988444
6988752
7001990
7005195
7005335
7006578
7013359
7017442
7021770
7023492
7025539
7025599
7029325
7030751
7032135
7033269
7035915
7040140
7041825
7042245
7042974
7042992
7043001
7043614
7045523
7045628
7046960
7051207
7051226
7051281
7053684
7056104
7057106
7057381
7058317
7060063
7061988
7062134
7062655
7063273
7064498
7070690
7082196
7082504
7084355
7084452
7084471
7084573
7084852
7084869
7085194
7088727
7092441
7095522
7095617
7096530
7099428
7100334
7100373
7100391
7100423
7100483
7100915
7101013
7103625
7104774
7109232
7111688
7114140
7114809
7115987
7117087
7117215
7118023
7122213
7122534
7122904
7124029
7128187
7132339
7134431
7134604
7134876
7134947
7134963
7134991
7135294
7137544
7139573
7142690
7145664
7148618
7148623
7149878
7150100
7151386
7151898
7151935
7151995
7152180
7152494
7152506
7168764
7169068
7169141
7171130
7172403
7172453
7172952
7173342
7173766
7177441
7179416
7181611
7184423
7184483
7184508
7184658
7185724
7185775
7185812
7185834
7185852
7186160
7186461
7186519
7188940
7189293
7189875
7191859
7194077
7194259
7196205
7199165
7200866
7200985
7200994
7200999
7201040
7201044
7201053
7201056
7201407
7204484
7205536
7205941
7206086
7206110
7206560
7207874
7209323
7209397
7209478
7211506
7211697
7211716
7212025
7212398
7212601
7214755
7215034
7215347
7215976
7216001
7216032
7216059
7216070
7216085
7216637
7216779
7216929
7217557
7217601
7217797
7217837
7217876
7217968
7217984
7218011
7218035
7218050
7218127
7218828
7219094
7219099
7219105
7219122
7219622
7219626
7219654
7219655
7219657
7219690

In [39]:
with open("scraping detail/detail/" + split[0] + ".json") as f:
    data = json.load(f)
data

{'ราคา': '799,000 บาท',
 'ประเภท': 'Sedan\n',
 '\n\nดีลเลอร์มีความน่าเชื่อถือ ผ่านการตรวจสอบตามเกณฑ์ที่กำหนด\n': 'ดีลเลอร์มีความน่าเชื่อถือ ผ่านการตรวจสอบตามเกณฑ์ที่กำหนด',
 'ยี่ห้อ': 'Toyota',
 'รุ่น': 'Camry',
 'โฉมรถยนต์': '(ปี 12-16)',
 'รายละเอียดรุ่น': 'Hybrid',
 'ปี': '2016',
 'ขนาดเครื่องยนต์': '2494 ซีซี',
 'ระบบเกียร์': 'เกียร์อัตโนมัติ',
 'จำนวนที่นั่ง': '5',
 'เลขไมล์ (กม.)': '116000',
 'สี': 'สีเทา'}

In [40]:
data['ราคา']

'799,000 บาท'

In [41]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="viicheck2"
)
print("Connect")

Connect

In [57]:
mycursor = mydb.cursor()

sql = "INSERT INTO details (price, type, brand, model, face, submodel, year, motor, gear, seats, distance, color) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
val = [
 ('data[ราคา]',
  'data[ประเภท]',
  'data[ยี่ห้อ]',
  'data[รุ่น]',
  'data[โฉมรถยนต์]',
  'data[รายละเอียดรุ่น]',
  'data[ปี]',
  'data[ขนาดเครื่องยนต์]',
  'data[ระบบเกียร์]',
  'data[จำนวนที่นั่ง]',
  'data[เลขไมล์ (กม.)]',
  'data[สี]')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record was inserted.")

1 record was inserted.